.project {
  height: 520px;
  cursor: auto;
}

.project-card {
  height: 520px;
  margin: 5vh 5vw 5vh 5vw;
}

.project-card table {
  margin: 0 auto;
}

.project-card table td:nth-child(1) {
  border-bottom: 1px solid #707070;
  letter-spacing: 1px;
}

.project-card table td:nth-child(2) {
  padding-left: 20px;
}

.project-card table td {
  font-size: 20px;
}

.project-card table td {
  font-weight: 200;
  font-variant-caps: all-small-caps;
}

#details-card .break {
  width: 100%;
}

#details-card .break > .hr {
  width: 15%;
}

#details-card {
  width: 480px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

#details-card .hr {
  margin: 2em;
}

#details-card p {
  text-align: left;
}

a {
  color: #b2b2b2;
}

a:hover {
  color: black;
}

a, a:hover {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}