.project {
  cursor: auto;
}

.project-card {
  margin: auto 5vw auto 5vw;
}

#details-card .break {
  width: 100%;
}

#details-card .break > .hr {
  width: 15%;
}

#details-card {
  width: 480px;
  margin-top: 5vw;
  margin-bottom: 5vw;
  text-align: center;
}

#details-card table {
  margin: 0 auto;
}

#details-card table td:nth-child(1) {
  border-bottom: 1px solid #707070;
  letter-spacing: 1px;
}

#details-card table td:nth-child(2) {
  padding-left: 20px;
}

#details-card table td {
  font-size: 20px;
}

#details-card .hr {
  margin: 2em;
}

#details-card p {
  text-align: left;
}

#details-card table td {
  font-weight: 200;
  font-variant-caps: all-small-caps;
}

#details-card a {
  color: #b2b2b2;
}

#details-card a:hover {
  color: black;
}

#details-card a, #details-card a:hover {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}