/*
  Copyright 2020 © Idess Lee
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #524E4F;
}

main {
  position: absolute;
  width: 800px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
}

footer {
  position: fixed;
  bottom: 1%;
  width: 100%;
  text-align: right;
}

footer p {
  padding-right: 2%;
}

ul {
  font-size: 20px;
  list-style: none;
  text-align: right;
}

li {
  padding: 5px;
}

li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #7D7375;
}

.selected {
  color: #7D7375;
}

#menu {
  padding-top: 10%;
  padding-right: 5%;
}

#content {
  padding-left: 5%;
}

#home {
  text-align: right;
}

#home img {
  width: 10%;
  padding-bottom: 5%;
}

#home h1, #home h2, #home h3 {
  font-weight: 350;
  margin-block-start: 0;
  margin-block-end: 0;
}

#home h1 {
  font-size: 40px;
}

#home h2 {
  font-size: 30px;
}

#home h3 {
  font-size: 20px;
  line-height: 1.5em;
}

#home h2, #home h3 {
  padding-top: 5%;
}

.underline {
  color: #7D7375;
  cursor: pointer;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 1.3;
  text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

.underline:hover {
  color: #524E4F;
}

.underline, .underline:hover {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.hidden {
  display: none;
}