/*
  Copyright 2020 © Idess Lee
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color: #707070;
  background-color: #f7f5f5;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 80px;
}

nav {
  text-align: center;
  font-variant: small-caps;
  padding: 20px;
  word-spacing: 20px;
}

main {
  position: absolute;
  width: 100vw;
}

footer {
  position: fixed;
  bottom: 1em;
  width: 100%;
  font-variant-caps: all-small-caps;
  letter-spacing: 3px;
  color: #b2b2b2;
  text-align: center;
}

a {
  text-decoration: none;
}

header a, #abt-container a, #email {
  color: #b2b2b2;
}

header a, header a:hover, #abt-container a, #abt-container a:hover, #email {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

a:hover, strong, .selected, #abt-container a:hover {
  color: black;
}

.hr {
  border-bottom: 1px solid #707070;
  opacity: 15%;
}

#home {
  margin: 5% auto;
  width: 50vw;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 350;
  margin-block-start: 0;
  margin-block-end: 0;
}

#home h1 {
  font-size: 40px;
}

#home h2 {
  font-size: 25px;
  padding-top: 5%;
}

.break {
  margin: 2% auto;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.break > .hr {
  width: 30%;
  margin: 0 auto;
}

.break h3 {
  letter-spacing: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 100;
  font-variant-caps: all-small-caps;
  text-align: center;
  color: #b2b2b2;
}

#projects-container {
  margin: 0 auto;
  margin-bottom: 10vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.project-card {
  margin: 5vh;
  width: 420px;
  height: 320px;
}

.project {
  padding: 3em;
  text-align: center;
  box-shadow: -12px -12px 40px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  height: 320px;
  color: #707070;
}

.project:hover {
  box-shadow: 2px -12px 40px rgba(0, 0, 0, 0.05);
}

.project, .project:hover {
  transition-property: box-shadow;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.project .hr {
  margin: 10%;
}

.description {
  width: 55%;
  margin: 0 auto;
}

.description p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.project h2, .project h3 {
  font-weight: 200;
}

.project h3 {
  font-variant-caps: all-small-caps;
}

.container img {
  width: 40%;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: initial;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(158, 130, 214, .3);
  border-radius: 50px;
  border: 4px solid transparent;
  background-clip: content-box;
}
